.Home {
    background-color: rgb(81, 81, 255);
}

.Home h3 {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    margin-top: 10px;

    /* text-decoration: underline; */

}

.Home h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 7px;
}